@inject HttpClient Http

@if (showDetails)
{
	<hr />
	<p>
		Project: @project.Name <br />
		Description: @project.Description <br />
		Start Date: @project.Start?.ToString("d") <br />
		End Date: @project.EndDate?.ToString("d") <br />
	</p>
}

@code {
	[Parameter]
	public int ProjectId { get; set; } // Default project ID, can be set dynamically

	bool showDetails = false;
	ProjectResponse project { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		var result = await Http.GetAsync($"api/project/{ProjectId}");
		if (result.IsSuccessStatusCode)
		{
			project = await result.Content.ReadFromJsonAsync<ProjectResponse>();
			showDetails = true;
		}
		else
		{
			Console.WriteLine("Project not found or error occurred.");
			showDetails = false;
		}
	}
}
