@page "/login"
@using TimeTracker.Shared.Models.Login
@inject IAuthService AuthService

<h3>LogIn</h3>

<EditForm Model="loginRequest" OnValidSubmit="HandleLogin">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-3">
		<label for="username">Username</label>
		<InputText id="username" @bind-Value="loginRequest.Username" class="form-control" />
		<ValidationMessage For="@(() => loginRequest.Username)" />
	</div>
	<div class="mb-3">
		<label for="password">Password</label>
		<InputText id="password" type="password" @bind-Value="loginRequest.Password" class="form-control" />
		<ValidationMessage For="@(() => loginRequest.Password)" />
	</div>
	<button type="submit" class="btn btn-primary mt-2">Log In</button>
</EditForm>

@code {
	LoginRequest loginRequest = new LoginRequest();

	private async Task HandleLogin()
	{
		Console.WriteLine($"Logging in user: {loginRequest.Username}");
		await AuthService.Login(loginRequest);
	}

}
