@page "/projects"
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@implements IDisposable
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Projects</PageTitle>
<h3>Projects</h3>

<MyButton Text="Create Project"
		  Level="MyButton.ButtonLevel.Primary"
		  OnClick="CreateProject"
		  AddMarginTop />

<QuickGrid Items="FilteredProjects" Pagination="@pagination">
	<PropertyColumn Property="p => p.Name" />
	<PropertyColumn Property="p => p.Start" Format="dd/MM/yyyy" Title="Start"/>
	<PropertyColumn Property="p => p.EndDate" Format="dd/MM/yyyy" Title="End" />
	<PropertyColumn Property="p => p.Description" />
	<TemplateColumn>
		<button class="rounded-md bg-teal-600 px-4 py-2.5 text-sm font-medium text-white shadow-sm" onclick="@(() => EditProject(context.Id))">
			<svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
			</svg>
		</button>
	</TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />

@code {
	int projectId; // Default project ID, can be set dynamically
	private string projectFilter = string.Empty; // Filter for project names
	PaginationState pagination = new PaginationState
		{
			ItemsPerPage = 10
		};
	IQueryable<ProjectResponse> FilteredProjects
	{
		get
		{
			var result = ProjectService.Projects.AsQueryable();
			if (!string.IsNullOrWhiteSpace(projectFilter))
			{
				result = result.Where(p => p.Name.Contains(projectFilter, StringComparison.OrdinalIgnoreCase));
			}
			return result;
		}
	}

	protected override async Task OnInitializedAsync()
	{
		ProjectService.OnChange += StateHasChanged;
		await ProjectService.LoadAllProjects();
	}

	private void CreateProject()
	{
		NavigationManager.NavigateTo("/project");
	}

	private void EditProject(int id)
	{
		NavigationManager.NavigateTo($"/project/{id}");
	}

	public void Dispose()
	{
		ProjectService.OnChange -= StateHasChanged;
	}

}
